*{
    margin: 80px;
    box-sizing: border-box;
}

:root{
    --colour-one: rgb(0,0,0);
    --colour-two: rgb(80,80,80);
    --colour-three: rgb(180,180,180);
    --colour-four: rgb(250,250,250);
    --border-one: solid 2px red;
}

h1{
    font-family: 'Zeyada', cursive;
    color: hotpink;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 350px;
}

h1:hover{
    animation: change-color 3s infinite;
}

@keyframes change-color{
    0%{
        color: aquamarine;
    }
    50%{
        color: blueviolet;
    }
}

header ul{
    font-family: 'Lora', serif;
    text-align: center;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: hotpink;
}

header ul li a:hover{
    background-color: blueviolet;
}

.Display{
    border: 2px solid hotpink;
    padding-top: 1000px;
    padding-bottom: 1000px;
    text-align: center;
}

.ProfilePic{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h2{
    font-family: 'Lora', serif; 
}

body{
    font-family: 'Mulish', sans-serif;
}





