*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --colour-one: #1f1f1f;
    --colour-two: rgb(244, 239, 239);
    --colour-three: #4e8045;
    --border-one: solid 2px rgb(99, 83, 162);
}

body{
    min-height: 100vh;
   /** background: url('img/filler.png') no-repeat; **/
    background-size: cover;
    background-position: center;
    background-color: var(--colour-two);
}

/** Top Navigation Bar **/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: var(--colour-two);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: var(--colour-one);
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: var(--colour-one);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0; 
    height: 2px;
    background:var(--colour-three);
    transition: .3s;
}

header nav a:hover::before{
    width: 100%;
}

header nav a:active{
    color: var(--colour-three);
}

/** Introduction **/
.Name{
    position: relative;
    text-align: center;
    padding-top: 10rem;
}

.Name h1{
    font-size: 4rem;
    font-weight: 600;
}

.Name img{
    padding-top: 2rem;
}

.Name h2{
    float: left;
    margin-left: 4rem;
    padding: 2rem 10rem 2rem 10rem;
    font-size: 1.5rem;
    font-weight: 500;
}